<%= form_for @character do |f| %>
 
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@character.errors.count, "error") %> prohibited
        this note from being saved:
      </h2>
      <ul>
        <% @character.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div id = "inner">
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :race %><br>
    <%= f.text_field :race %>
  </p>
  
  <p>
    <%= f.label :roleType %><br>
    <%= f.text_field :roleType %>
  </p>
  
  <p>
    <%= f.label :backstory %><br>
    <%= f.text_area :backstory %>
  </p>
  
  <p>
    <%= f.label :strength %><br>
    <%= f.number_field :strength %>
  </p>
  
  <p>
    <%= f.label :perception %><br>
    <%= f.number_field :perception %>
  </p>
  
  <p>
    <%= f.label :endurance %><br>
    <%= f.number_field :endurance %>
  </p>
  
  <p>
    <%= f.label :charisma %><br>
    <%= f.number_field :charisma %>
  </p>
  
  <p>
    <%= f.label :intelligence %><br>
    <%= f.number_field :intelligence %>
  </p>
  
  <p>
    <%= f.label :agility %><br>
    <%= f.number_field :agility %>
  </p>
 
 <p>
    <%= f.label :luck %><br>
    <%= f.number_field :luck %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 </div>
<% end %>