<h1>Character: <%= @character.name %></h1>

<body>
    <div id="inner">
        <p>
            <strong>Character Name:</strong>
            <%= @character.name %>
        </p>
        <p>
            <strong>Race:</strong>
            <%= @character.race %>
        </p>
        <p>
            <strong>roleType:</strong>
            <%= @character.roleType %>
        </p>
        <p>
            <strong>backstory:</strong>
            <%= @character.backstory %>
        </p>
        <p>
            <strong>strength:</strong>
            <%= @character.strength %>
        </p>
        <p>
            <strong>perception:</strong>
            <%= @character.perception %>
        </p>
        <p>
            <strong>endurance:</strong>
            <%= @character.endurance %>
        </p>
        <p>
            <strong>charisma:</strong>
            <%= @character.charisma %>
        </p>
        <p>
            <strong>intelligence:</strong>
            <%= @character.intelligence %>
        </p>
        <p>
            <strong>agility:</strong>
            <%= @character.agility %>
        </p>
        <p>
            <strong>luck:</strong>
            <%= @character.luck %>
</p>

        <h2>Gatherers</h2>
        <% @character.gatherers.each do |gatherer| %>
        <p>
            <strong>Gatherer Type:</strong>
            <%= gatherer.gatherType %>
        </p>
        
        <p>
            <strong>Gatherer Level:</strong>
            <%= gatherer.gatherLevel %>
        </p>
        
        <% end %>
        
        <h2>Add a gatherer:</h2>
        <%= form_for([@character, @character.gatherers.build]) do |f| %>
          <p>
            <%= f.label :gatherType %><br>
            <%= f.text_field :gatherType %>
          </p>
          <p>
            <%= f.label :gatherLevel %><br>
            <%= f.number_field :gatherLevel %>
          </p>
          <p>
            <%= f.submit %>
          </p>
        <% end %>
        
            <%= link_to 'Character List', characters_path %>
    </div>
</body>
